<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Welcome</h2>
<div class="summary">
    <style>
        .summary a img {
            vertical-align: sub;
            margin-right: 2px;
        }
    </style>
    <p>I'm a Software Engineer and father of two, based in Torino, Italy. 
    </p>
    <p>
        I have been leading software development teams for 20+ years
        and Software Development surprisingly remains my main passion.
    </p>
    <p>
        I currently work as a Principal Software Engineer at <a href="https://posit.co"><img src="/theme/images/posit.png" height="20">Posit</a> where I help creating impactful projects for the Python ecosystem,
        and I have previously been Senior Director of Open Source Engineering at <a href="https://voltrondata.com/"><img src="/theme/images/voltron-labs.png" height="20">Voltron Data</a>,
        where I coordinated contributions and maintenance of core data engineering projects for Data Analytics like 
        <a href="https://arrow.apache.org/">Apache Arrow</a>, <a href="https://ibis-project.org/">Ibis</a> and <a href="https://substrait.io/">Substrait</a>
    </p>
    <p>I have also been a founder of <a href="http://www.axant.it"><img src="/theme/images/axant_web_logo.png" height="20">AXANT.it</a> Python company,
       a shareholder of <a href="https://mamazen.it/"><img src="/theme/images/mamazen.png" height="20">Mamazen Startup Studio</a>
       and a founding member of the <a href="https://ih1.co/"><img src="/theme/images/ih1.png" height="20">IH1</a> investment holding. 
    </p>
    <p>I'm also deeply passionate about Python Software Development as an, 
        author of <a href="/pages/authored-books.html">Python related books</a>,
        speaker at multiple <a href="/pages/public-talks.html">conferences around europe</a>, 
        guest at multiple <a href="/pages/guest-invitations.html">online shows</a> on Software Engineering,
        and maintainer of several <a href="/pages/opensource.html">OpenSource projects</a>
     </p>
    <p>
        I also mix my interest for data engineering and Python in the 
        <a href="https://alessandromolina.substack.com">Monthly Python Data Engineering</a> newsletter
    </p>
    <p>
       This is my personal website,
       If you are looking for my technical blog you should look at my
       <a href="https://open.substack.com/pub/amolnotes"><img src="/theme/images/Medium-512.png" height="20">Substack Blog</a> and if you are looking for my fun projects you are probably looking for <a href="https://amol.inli.me">amol.inli.me</a> or <a href="https://aminext.cc">aminext.cc</a>
    </p>
    <div style="margin-top: 20px;">
        <img src="/images/photo.jpg" width="100%">
    </div>
</div><!--//summary-->
</section><!--//section-->
