<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Welcome</h2>
<div class="summary">
    <style>
        .summary a img {
            vertical-align: sub;
            margin-right: 2px;
        }
    </style>
    <p>I'm a Software Engineer, Engineering Director, Entrepeneur
       and father of two, based in Torino, Italy. 
    </p>
    <p>
        I'm currently the Director of the <a href="https://voltrondata.com/labs/"><img src="/theme/images/voltron-labs.png" height="20">Voltron Data Labs</a>
        an Open Source Laboratory within Voltron Data that takes care of contributing and maintaining to some core data engineering projects like Apache Arrow
    </p>
    <p>I have been a founder of <a href="http://www.axant.it"><img src="/theme/images/axant_web_logo.png" height="20">AXANT.it</a> Python company,
       I'm also a shareholder of <a href="https://mamazen.it/"><img src="/theme/images/mamazen.png" height="20">Mamazen Startup Studio</a>
       and a member of the <a href="https://ih1.co/"><img src="/theme/images/ih1.png" height="20">IH1</a> investment holding. 
    </p>
    <p>I'm also a Python Software Development expert, 
        author of <a href="/pages/authored-books.html">Python related books</a>,
        speaker at multiple <a href="/pages/public-talks.html">conferences around europe</a>, 
        guest at some <a href="/pages/guest-invitations.html">online software engineering shows</a>,
        and maintainer of several <a href="/pages/opensource.html">OpenSource projects</a>
     </p>
    <p>
       This is my personal website where I post my thoughts and memories.
       If you are looking for my technical blog you should look at my
       <a href="https://medium.com/@__amol__"><img src="/theme/images/Medium-512.png" height="20">Medium Blog</a>
    </p>
    <div style="margin-top: 20px;">
        <img src="/images/photo.jpg" width="100%">
    </div>
</div><!--//summary-->
</section><!--//section-->